.modal-dialog
  / Modal content
  .modal-content
    .modal-header 
      %button.close{"data-dismiss" => "modal", :type => "button"} ×
      %h4.modal-title 
    .modal-body
      - if !@order_details.any?
        %p No orders at this point of time
      - else
        %table.table-hover
          %tbody
            %tr.well
              %th.text-center Employee
              %th.text-center Item
              %th.text-center Quantity
              %th.text-center
            - employee = "nil"
            - @order_details.each do |order_detail|
              %tr.well 
              - if employee == order_detail.emp_name 
                %td.text-center
              - else
                %td.text-center= order_detail.emp_name
              %td.text-center= order_detail.menu
              %td.text-center= order_detail.quantity
              / - order = Order.find(order_detail.id)
              - if order_detail.status == "pending"
                %td.text-center
                  = link_to admin_dashboard_order_detail_remove_path(order_detail.detail_id), method: :delete, data:{confirm: "Are you sure?"} do
                    %span.glyphicon.glyphicon-remove
              - employee = order_detail.emp_name
    .modal-footer
      %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close        
