.container 
  %hr
    %h4.card-title Order Detail
    .row
      .col-sm-2
      .col-sm-8
        %table.table.order-show
          %thead
            %tr
              %th Product
              %th Unit Price
              %th Quantity
              %th Item Price
              %tbody
                - @details.each do |detail|
                  %tr
                    %td= detail.menu_item_name
                    %td
                      %span ₹
                      %span= detail.price
                    %td= detail.quantity
                    %td
                      %span ₹
                      %span= detail.price * detail.quantity
