.modal-dialog{:role => "document"}
  .modal-content
    = simple_form_for(@menu_item, :url => terminal_menu_items_path(@terminal, :terminal_id => params[:terminal_id]), remote: true) do |f|  
      %h4.modal-title.text-center New Menu Item
      = f.input :name, required: true
      = f.input :price, required: true
      %h6 Is this item Veg?
      %p
        %label
          %input{:name => "menu_item[veg]", :type => "radio", :value=> "true", :checked => "checked"}/
          %span Yes
        %label
          %input{:name => "menu_item[veg]", :type => "radio" , :value=> "false"}/
          %span No

      /= f.input :active_days, as: :check_boxes, collection: [1, 3, 4]
      / = f.input :available, required: true, as: :check_boxes
      
      %h6 Select days on which item is Active:
      %p
        %label
          %input{:name => "menu_item[active_days][]", :type => "checkbox", :value=> "1", :checked => "checked", class: "filled-in"}/
          %span Monday
        %label
          %input{:name => "menu_item[active_days][]", :type => "checkbox", :value=> "2", :checked => "checked", class: "filled-in"}/
          %span Tuesday
        %label
          %input{:name => "menu_item[active_days][]", :type => "checkbox", :value=> "3", :checked => "checked", class: "filled-in"}/
          %span Wednesday
        %label
          %input{:name => "menu_item[active_days][]", :type => "checkbox", :value=> "4", :checked => "checked", class: "filled-in"}/
          %span Thursday
        %label
          %input{:name => "menu_item[active_days][]", :type => "checkbox", :value=> "5", :checked => "checked", class: "filled-in"}/
          %span Friday
        %label
          %input{:name => "menu_item[active_days][]", :type => "checkbox", :value=> "6", class: "filled-in"}/
          %span Saturday
        %label
          %input{:name => "menu_item[active_days][]", :type => "checkbox", :value=> "7", class: "filled-in"}/
          %span Sunday

      %h6 Is item currently available? 
      %p
        %label
          %input{:name => "menu_item[available]", :type => "checkbox", :checked=> "checked", :class => "filled-in", :value => "true", :required => true}/
          %span Available
      .modal-footer
        %button.btn.grey.darken-1.modal-close{"data-dismiss" => "modal", :type => "button"} Close
        %button.btn{:type => "submit"} Add 