/Form to Activate/ Deactivate Employee details
%tr
  %td
    =link_to user_path(user,"company_id" => user.company.id) do
      .center-align
        #{user.name}
  %td
    .center-align
      =user.email

  %td{:width => "200px"}
    .center-align
      -if !user.is_active
        = "INACTIVE"
      -else 
        = "ACTIVE"
        
  %td
    =link_to user_path(user,'user[is_active]' => !user.is_active,'page'  => params[:page], "company_id" => user.company.id), method: :patch ,data: { confirm: 'Are you sure?' } do
      -if user.is_active
        .center-align
          %button.btn.green.lighten-1{:type=> "button"}
            %span.material-icons.md-36 check_circle
      -else 
        .center-align
          %button.btn.red.darken-1{:type=> "button"}
            %span.material-icons.md-36 cancel

