/Form to Activate/ Deactivate Employee details
%tr
  %td
    =link_to user_path(user) do
      .text-center
        #{user.name}
  %td
    .text-center
      =user.email

  %td{:width => "200px"}
    .text-center
      -if is_inactive_user?(user) 
        = "INACTIVE"
      -else 
        = "ACTIVE"
        
  %td
    =link_to user_path(user,'user[is_active]' => is_inactive_user?(user),'page'  => params[:page]), method: :patch ,data: { confirm: 'Are you sure?' } do
      -if user.is_active
        .text-center
          %button.btn.btn-success{:type => "button"}
            %span.glyphicon.glyphicon-ok-circle>
      -else 
        .text-center
          %button.btn.btn-danger{:type => "button"}
            %span.glyphicon.glyphicon-remove-circle>