.container
  / %br
  / =link_to 'Back',company_users_path(@company.id), class: 'btn btn-success'
  =link_to 'Download your invalid record csv',download_company_users_path(@company.id), class: 'btn btn-primary'
  -if flash.now[:notice].present?
    =flash.now[:notice]
  -else
    =flash.now[:error]
  =link_to 'Back',company_users_path(@company.id), class: 'btn btn-success'
