%h1.text-center EMPLOYEES
.container
  =render "add_employees_and_search_bar"
%br
%br
%br

.container
  -if !@users.empty?
    %table.table.table-fixed#employees_table
      %tbody
        %tr
          %th 
            .text-center
              NAME
          %th
            .text-center
              EMAIL ID 
          %th 
            .text-center
              STATUS
          %th 
            .text-center
              CHANGE STATUS
        %tr
          - @users.each do |user|
            = render 'user_row', user: user
  -else
    .alert.alert-danger
      No record is found!!

.text-center
  = paginate @users
#user_form.modal.fade{"aria-labelledby" => "add_single_user_record", :role => "dialog", :tabindex => "-1"}
#import_employees.modal.fade{"aria-labelledby" => "add_multiple_employee_records", :role => "dialog", :tabindex => "-1"}

  
