%h3.center-align EMPLOYEES
.div
  =render "add_employees_and_search_bar"
%br

.card
  %br
  -if !@users.empty?
    %table.table.table-fixed#employees_table
      %tbody
        %tr
          %th 
            .center-align
              NAME
          %th
            .center-align
              EMAIL ID 
          %th 
            .center-align
              STATUS
          %th 
            .center-align
              CHANGE STATUS
        %tr
          - @users.each do |user|
            = render 'user_row', user: user
  -else
    .alert.alert-danger
      No record is found!!
  %br

.center-align
  = paginate @users

#user_form.modal.fade{"aria-labelledby" => "add_single_user_record", :role => "dialog", :tabindex => "-1"}
#import_employees.modal.fade{"aria-labelledby" => "add_multiple_employee_records", :role => "dialog", :tabindex => "-1"}

  
