
%h1.text-center EMPLOYEES
.container
  =render "add_employees_and_search_bar"
%br
%br
%br

-if !@users.empty?
  .container-fluid
    %table.table.table-fixed#employees_table
      %tbody
        %tr
          %th 
            .text-center
              NAME
          %th
            .text-center
              EMAIL ID 
          %th 
            .text-center
              STATUS
          %th 
            .text-center
              ACTION
        %tr
          =render "common_index" ,object: @user, as: 'user'
.text-center
  = paginate @users
#user_form.modal.fade{"aria-labPelledby" => "User", :role => "dialog", :tabindex => "-1"}