= stylesheet_link_tag 'users'
.card
  %br
  %br
  %h3.center-align Employee Record
  %br
  %br
  %table.table-hover{:border =>3,:align=>"center",:style=>"width:60%;background-color:white"}
    %tbody
      %tr
        %th Name:
        %td= @user.name
      %tr
        %th Email ID:
        %td= @user.email
      %tr
        %th Mobile Number
        %td= @user.mobile_number