%nav.sidenav
  %div.icon
    %a{:href => "/companies/#{current_user.company_id}/users"}
      %span.glyphicon.glyphicon-user.gly
      .name Employee
  
  %li.dropdown.icon
    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => ""}
      %span.glyphicon.glyphicon-list.gly
      Order
      %span.caret
    %ul.dropdown-menu
      %li
        %a#menu{:href => vendors_path} Place Order
      %li
        %a#menu{:href => orders_path} My Order
      %li
        %a#menu{:href => admin_dashboard_index_path} Today's Orders
   
  %div.icon   
    %a{:href => "#"}
      %span.glyphicon.glyphicon-file.gly
      .name#report Report
  %div.icon    
    %a{:href => "/companies/#{current_user.company_id}/terminals"}
      %span.glyphicon.glyphicon-cutlery.gly
      .name#termin Terminal     