%nav.sidenav
  %div.icon
    %a{:href => "#"}
      %span.glyphicon.glyphicon-user.gly
      .name Employee
  
  %li.dropdown.icon
    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
      %span.glyphicon.glyphicon-list.gly
      Order
      %span.caret
    %ul.dropdown-menu
      %li
        %a#menu{:href => "#"} Place Order
      %li
        %a#menu{:href => "#"} My Order
   
  %div.icon   
    %a{:href => "#"}
      %span.glyphicon.glyphicon-file.gly
      .name#report Report
  %div.icon    
    %a{:href => "#"}
      %span.glyphicon.glyphicon-cutlery.gly
      .name#terminal Terminal  