%nav.w3-sidenav.w3-black
  %i.fa.fa-person.w3-xlarge

  %a.w3-padding-16{:href => "#"}
    %i.fa.fa-user.w3-xlarge
    Employee
  %a.w3-padding-16{:href => "#"}
    %i.fa.fa-edit.w3-xlarge
    Order
  %a.w3-padding-16{:href => "#"}
    %i.fa.fa-file.w3-xlarge
    Report
  %a.w3-padding-16{:href => "#"}
    %i.fa.fa-cutlery.w3-xlarge
    Terminal