%nav.sidenav
  %div.icon
    %a{:href => "/companies/#{current_user.company_id}/users"}
      %span.glyphicon.glyphicon-user.gly
      .name.text-center Employee
  %li.dropdown.icon
    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => ""}
      %span.glyphicon.glyphicon-list.gly
      .name.text-center Order
      %span.caret
    %ul.dropdown-menu
    
      %li
        %a#menu{:href => vendors_path} Place Order
      -if current_user.orders.find_by(date: Date.today)  
        %li
          - order_id = current_user.orders.find_by(date: Date.today).id
          %a#menu{:href => order_path(order_id)} Today's Order
      %li
        %a#menu{:href => orders_path} Order history
      %li
        %a#menu{:href => admin_dashboard_index_path} Emp Orders
  %li.dropdown.icon
    %a.dropdown-toggle{"data-toggle" => "dropdown",:href => ""}
      %span.glyphicon.glyphicon-file.gly
      .name.text-center Report
      %span.caret
    %ul.dropdown-menu
      %li
        %a#menu{:href => reports_index_path} Employee
      %li
        %a#menu{:href => '#'} Terminal  
  %div.icon    
    %a{:href => "/companies/#{current_user.company_id}/terminals"}
      %span.glyphicon.glyphicon-cutlery.gly
      .name#termin.text-center Terminal
  