.container.load
  .alert.alert-success
    You can order multiple menu items from a single vendor!!
  %h3.text-center Vendor List
  .row
    - @terminals.each do |terminal|
      .col-xs-12.col-md-6
        .card-block.terminal
          %h3.card-title= terminal.name
          %p.card-text= image_tag terminal.image_url(:thumb) if terminal.image?
          = link_to terminal.name+" >", new_terminal_order_path(terminal.id) ,class:"btn btn-info terminal"
