- content_for :inner_header do
  .row
    %h5.center-align.black-text My Order History
.container
  .row
  %br
  %br
  .card.scroll-card
    .row
    .row
      .col.m2.s2
      .col.m2.s2
        %h6 Filter Order:
      .col.m2.s2
        %input.historydate{:type => "text", :placeholder => "From Date", :class => "from datepicker", :value => @from_date, :id =>"fromDate"}/
      .col.m2.s2
        %input.historydate{:type => "text", :class => "to datepicker", :placeholder => "To Date", :value => @to_date, :id =>"toDate"}/
      .col.m2.s2
        %button.btn.btn-info#bton{:type => "button"}Find
    .row
      #orderhistory
        = render 'history_table', orders:@orders
