%p Hello!!!
%p We are glad to notify you that your order has been successfully
%p forwarded to the terminal!!!
%p Hope you will enjoy your order!!!
%p In case there is any problem regarding your order we will notify you soon!!!
%p Have a great day!!!
%p regards,
%p hunger teminal team