%p Hello,
%p This is just for the reminder that you can place order only upto 12:30 PM.
%p So, place your order as soon as possible and enjoy yor lunch!!!
%p Have a great day!!!
%br
%p regards,
%p The Hunger Terminal  