%p Hello, #{@terminal.name}!!!
%p 
= @message
.table-responsive
  %table.table.table-condensed
    %thead
      %th.text-center Menu Item
      %th.text-center Quantity
    %tbody
      - @orders.each do |order|
        %tr
          %td.text-center #{order["menu"]}
          %td.text-center #{order["quantity"]}
%p Please Deliver to: