%p Hello #{@name},
%p 
  This is just for the reminder that you can place order only upto 
  %b #{@end_time}
%p So, place your order as soon as possible and enjoy your lunch!!!
%p You can sign in to your accout through the link below to quickly place your order:
%p= link_to 'Place Order', vendors_path
%p Have a great day!!!
%p Regards,
%p The Hunger Terminal Team