%p Hello,
%p This is just for the reminder that you can place order only upto #{@end_time}
%p So, place your order as soon as possible and enjoy your lunch!!!
%p Have a great day!!!
%br
%p regards,
%p The Hunger Terminal  