.container
  .row
    .col-md-3
    .col-md-6
      = simple_form_for @terminal, url: company_terminal_path(@terminal), html: { method: :patch, class: 'form-horizontal' } do |f|
        %h2 Edit Terminal
        = render 'form', f: f
    .col-md-3