#searchcontainer 
  .row
  .col-sm-6.col-sm-offset-3
    #imaginary_container
      %form{action:terminals_path}
        .input-group.stylish-input-group
          %input.form-control{placeholder:"Search",type:"text",name:"search"}/
          %span.input-group-addon
            %button{type:"submit"}
              %span.glyphicon.glyphicon-search
  %a.btn.btn-info{:href => "/terminals/new",style:"margin-top: 20px; margin-left: 50px;"} New Terminal
  = link_to "selected terminal", custom_actions_selected_terminals_path, class:"btn btn-info"
#indexcontainer
  .table-responsive
    %table.table-hover
      %tbody
        %tr
          %th.text-center Sr No.
          %th.text-center Name
          %th.text-center Landline
          %th.text-center Edit Terminal
          %th.text-center Delete Terminal
          %th.text-center Status
        - if !@terminal.nil?
          =render "common_index", object: @terminal, as: 'terminal'
        -else
          =render "search_common_index", object: @terminal_search, as: 'terminal'
-if @terminal.nil?
  .text-center= paginate @terminal_search
-else
  .text-center= paginate @terminal    