#indexcontainer
  .table-responsive
    %table.table-hover
      %tbody
        %tr
          %th.text-center Sr No.
          %th.text-center Name
          %th.text-center Price
          %th.text-center Type
        - @menus.each_with_index do |object,i|
          %tr
          %td.text-center= i+1
          %td.text-center= object.name
          %td.text-center= object.price
          %td.text-center= object.veg
         