/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require toastr
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  background: url("background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Open Sans',sans-serif;
  color: #2F4F4F; //#ffffff;
  font-weight: 400;
  margin-bottom: 25px;
  margin-top:25px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  //font-size: 2em;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.3em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 12px;
  font-weight: bold;
  font-family: 'Open Sans',sans-serif;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
    
/* Add a gray background color and some padding to the footer */
footer {
  background-color: #111;
  color: white;
  //padding: 25px;
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
} 

.container-fluid text-center {
  height: 50px;

}
.bottom {
  padding-left: 10px;
}

.w3-xlarge {
  font-size: 32px !important;
}

.w3-sidenav a {
  padding: 4px 2px 4px 0px;
  text-align: center;
}

.fa {
  padding-left: 2px;
}

.w3-section.w3-padding-top.w3-large {
  padding-left: 122px;
}

.w3-sidenav.w3-black {
  width: 70px;
}