/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require toastr
 *= require_tree
*/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "terminals";
@import "companies";
@import "home";
@import "menu_items";
@import "users";

body {
  -webkit-background-size: cover;

  -o-background-size: cover;
  background-size: cover;
  font-family: 'Open Sans',sans-serif;
  color: #2F4F4F; //#ffffff;
  font-weight: 400;
  margin-top: 7%;
  margin-bottom: 5%;
  height: 100%
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}


p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.3em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 12px;
  font-weight: bold;
  font-family: 'Open Sans',sans-serif;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
    
footer {
  background-color: #111;
  color: white;
  //padding: 25px;
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
} 

.Absolute-Center.is-Responsive {
  padding: 5%;
}

.sidenav {
   
  height: 100%;
  width: 75px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #337ab7;
 
  transition: 0.3s
}

.icon :hover, .offcanvas .icon:focus{
    color: #f1f1f1;
}

span.gly {
  font-size: 24px;
 left: -7px;
}
div.icon {
 padding-top:16px;
 padding-bottom:19px;
 height: 68px;
 width: 75px;
 display: block;
 }
a.name{
  padding-left: 1px;
  width: 114px;
  text-align: center;
}


#report{
  padding-left: 12px;
}

#termin{
  padding-left: 6px;
}
 .dropdown.icon{
 padding-top: 13px;
 }

#menu {
  font-size: 12px;
  padding-left: 0px;
} 
 
#steps {
  color: black;
}


/*.btn-primary{
  width: -moz-available;
  text-align: -moz-right;
}*/

.btn.btn-info.terminal{
  width: -moz-available;
  text-align: -moz-right;
}


.order-show{
  background-color: whitesmoke;
}

.modal-title.menu_item{
  margin-left: 35%;
}