// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th, td {
  padding: 15px;
}
.container
{
  margin-left: 40px;
  margin-right: 60px;
}
.table
{
  width:60%;
  background-color: white;
}
h1, h2
{
  color: black;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  //font-size: 2em;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}
