// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/

.jumbotron {
  position: relative;
  background-color:transparent !important;
  width:100%;
  height: 20%;
  background-size: 100% 100%;
  padding-top: 0%;
  padding-bottom: 0%;
  font-family: 'Open Sans',sans-serif;
  font-weight: 300;
}

.row.home{
  /*margin-left: 7%;
  margin-right: 0%;*/
  margin-left: 6%;
  margin-right: 2%; 
  margin-top: 72px;
  position: relative;
}


.thumbnail {
  //background-color:transparent !important;
  text-align: center;
  display: inline;
  padding: 5px 5px 5px 10px;

  img{
    width: 120px;
    height: 100px;
    border: gray 1px solid;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

/*h1 {
  //font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}
*/
.container.bg-3{
  padding-top: 2%;
}


.h4.text-center.home{
  padding-bottom: 15px;
}


.container.home
{
  padding-left: 10px;
  padding-right: 12px;
}

.container.instructions
{
  padding-top: 4%;
  padding-bottom: 3%;
}

.h4.home{
  margin-left: 42%;
  padding-bottom: 15px;
}

span.caret{
  margin-left: 48%;
}

#seeHow
{
  font-style: italic;
  font-family: fantasy;
  font-size: x-large;
  -webkit-text-fill-color: brown;
}

.external-bg{
  .top-section{
    height: 300px;

    .header{
      padding-top: 20px;
      padding-bottom: 80px;
    }
  }

  .how-it-works{
    position: absolute;
    top: 5%;
    left: 20%;
    color: white;
    font-size: xx-large;
  }

  .company-login-link{
    position: absolute;
    bottom: 3%;
    right: 20%;
    color: white;
    text-decoration: underline;
    font-size: xx-large;
    font-style: italic;
    font-family: fantasy;
  }
}