// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  position: relative;
  background-color:transparent !important;
  width:100%;
  height: 70%;
  background-size: 100% 100%;
  padding-top: 5%;
  //padding-bottom: 2%;
  font-family: 'Open Sans',sans-serif;
  font-weight: 300;
}

.thumbnail {
  //background-color:transparent !important;
  height: 120px;
  width: 150px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  //font-size: 2em;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

.container{
  padding-left: 60px;
}

.container.home
{
  padding-left: 10px;
  padding-right: 12px;
}