// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  position: relative;
  background-color:transparent !important;
  width:100%;
  height: 100%;
  background-size: 100% 100%;
  padding-top: 5%;
  //padding-bottom: 2%;
  font-family: 'Open Sans',sans-serif;
  font-weight: 300;
}

.thumbnail {
  //background-color:transparent !important;
  height: 120px;
  width: 150px;
  text-align: center;
}

#steps {
  color: black;
}
.container {
  padding-left: 10%;
}

.cen {
  padding-left:100px;
}

.ter {
  margin: 0; 
  display: inline-block; 
  float: left;
}

