// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#cart{
	width: -moz-max-content;
}

.card-block{
	background-color: whitesmoke;
	border-radius: 5px;
}

.date{
   padding-left:39px;
}

.order_total{
   padding-left: 41px;
}

.veg{
	color: green;
}

.non-veg{
  color: red;
}


.place_order{
	margin-top: 10px;
}

#place_order{
	padding-left: 0px;
	padding-right: 0px;
}

.bag{
	margin-right: 5px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;
}

#cart{
  @media (max-width: 768px) { 
  	margin-top:15%;
  }
}
#vendorName{
  font-style: italic;
}

.show{
	@media (max-width: 768px) { 
  	margin-left:-40px;
  }
}

.load{
	@media (max-width: 768px) { 
    margin-left:-40px;
    margin-top: 15%;
  }
}

.order_history_table
{
  margin: 0 auto;
  border:2px solid black;
}
