// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#cart{
	width: -moz-max-content;
}

.card-block{
	background-color: whitesmoke;
	border-radius: 5px;
}

.date{
  padding-left:39px;
}

.total{
  padding-left: 41px;
}

.veg{
	color: green;
}

.non-veg{
	color:red;
}
