.pdf_table {
  padding-top: 2%;
  border-collapse: collapse;
  margin: 0 auto;
}

.align{
  border: 1px solid black;
  min-width: 100px !important;
  min-height: 100px !important;
  text-align: center;
  padding: 1%; 
}

.pdf_heading{
  padding-top: 2%;
  text-align: center;
}
