// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.employees_report_table
{
  margin: 0 auto;
}


.terminals_report_table
{
  margin: 0 auto;
}
.topbtn{
  margin-right: 10%;
}