// Place all the styles related to the Terminals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th, td {
  padding: 12px;
}

td{
  font-size: large;
}

.historydate{
  width: 66% !important;
}
.indexcontainer
{
  margin-left: 100px;
}

#formcontainer
{
  margin: 80px
}

.searchcontainer
{
  width:auto;
}

.table-responsive
{
  margin-top: 1%;
  overflow: auto;
}

.h3.text-center.terminal_name{
  margin-bottom: 2%;
}

.table-hover.table-bordered
{
  width: 80%;
}

#terminal_image {
  margin: auto;
  width: 42%;
  padding: 10px;
}

#terminal_CSV_menu_file.file.optional {
  margin: auto;
  width: 42%;
  padding: 10px; 
}

.csvfileupload.text-center{
  padding: 10px;
}

.container.Absolute-Center.is-Responsive.terminal{
  padding: 0%;
}

/*.panel-body.terminal{
  padding: 20px;
}*/
/*
#terminal_landline.form-control.string.required{
  margin-left: 8px;
}

#terminal_min_order_amount.form-control.numeric.float.required{
  margin-left: 8px;
}*/
/*
#terminal_name.form-control.string.required{
  margin-left: -8px;
}*/
/*
#terminal_email.form-control.string.optional{
  margin-left: -8px;
}*/
/*#imaginary_container{
  margin-top: 20px;
}*/

.stylish-input-group .input-group-addon{
    background: white !important; 
}

.stylish-input-group .form-control{
  border-right:0; 
  box-shadow:0 0 0; 
  border-color:#ccc;
}

.stylish-input-group button{
    border:0;
    background:transparent;
}
/*%a.button.btn.btn-info
{
  margin-top: 20px; 
  margin-left: 50px;
}*/
Name.required:after {
  content:" *";
}
Landline.required:after {
  content:" *";
}

.btn btn-info{
	padding-left:20px;
}

.terminals_listing_table
{
  margin: 0 auto;
}
.home-background
{
  background-image: url(/assets/food_bg.jpg);
  background-size: cover;
}

.ht-inner-section{
  .ht-middle-section{
    background-image: url(/assets/food_bg.jpg);
    background-size: cover;
    min-height: 120vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    h3{
      margin-top: 0px;
      padding-top: 10px;
    }
  }

  .shadow-top {
    position: relative;
    z-index: 2;
    box-shadow: 0px 10px 10px -10px #000 inset;
    height: 20px;
    margin-bottom: -20px;
    margin-right: 15px;
  }


  .ht-top-section{
    height: 155px;
    color: black;

    a{
      text-decoration: none;
      color: black;
    }

    .instruction-text{
      font-weight: lighter;
    }

    .todays-order{
      .order-icon{
        height: 75px;
        display: block;
      }
      a {
        font-size: larger;
      }
    }

    .no-bottom-margin{
      margin-bottom: 0px;
    }

    #order-timer{
      font-size: 35px;
    }
  }

  .ht-scrollable-container{
    overflow-y: scroll;
    height: 500px;
    width: 100%;
  }
  .scroll-card{
   overflow: scroll;
    height: 500px;
    width: 100%; 
  }

  .terminal-box{
    opacity: 1;
    height: 180px;
    margin: 60px 34px 0 20px;
    border-radius: 20px;

    .small-text{
      font-size: 77%;
      z-index:1;
      position: absolute;
    }

    .card-content{
      padding: 0px 0px 0px 0px;
      height: 100%;
      position: relative;
    }

    .thumbnail{
      min-height: 55px;
      display: block;
      img{
        height: 82px;
        width: 100px;
      }
    }

    .progress{
      height: 25px;
      margin-bottom: 0px;
      margin-left: 0px;
      background: white;
      border: 1px solid lightgreen;
      border-radius: 30px;

      .determinate{
        background: lightgreen;
        z-index:0;
        position: absolute; 
      }

      .material-icons{
        position: absolute;
        margin-left: 0px;
      }

      .amount{
        padding-right: 2px;
        z-index: 2;
        position: relative;
        font-size: small;
      }
    }
  }
}
.bottomFixed {
  position: absolute;
  width: 184px;
  bottom: 16px;
  left: 26px;
}

.order-btn {
  width:75%;
  font-size: small;
  height: 32px !important;
  background-color: #212121 !important;
  padding: inherit;
  border-radius: 40px  !important;
}
.tabs.menu-tabs{
  background-color: white !important;
  display: inline;

  li{
    a{
      color: white;
    }
    a.active{
      color: black;
    }
  }
}
.ht-middle-section-bg{
  background-image: url(/assets/food_bg_without_food.jpg);
  background-size: cover;
  min-height: 120vh;
  background-repeat: no-repeat;
  background-attachment: fixed;  
}
.terminal-box:hover{
  opacity: 0.9;
  height: 180px;
  background-color: #e3f2fd !important;
  margin: 60px 34px 0 20px;
  border-radius: 20px;
}
.tabs .tab a.active {
  background-color: white !important;
}
