// Place all the styles related to the Terminals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th, td {
  padding: 12px;
}

td{
  font-size: large;
}


.indexcontainer
{
  margin-left: 100px;
}

#formcontainer
{
  margin: 80px
}

.searchcontainer
{
  width:auto;
}

.table-responsive
{
  margin-top: 1%;
}

.h3.text-center.terminal_name{
  margin-bottom: 2%;
}

.table-hover.table-bordered
{
  width: 80%;
}

#terminal_image {
  margin: auto;
  width: 42%;
  padding: 10px;
}

#terminal_CSV_menu_file.file.optional {
  margin: auto;
  width: 42%;
  padding: 10px; 
}

.csvfileupload.text-center{
  padding: 10px;
}

.container.Absolute-Center.is-Responsive.terminal{
  padding: 0%;
}

/*.panel-body.terminal{
  padding: 20px;
}*/
/*
#terminal_landline.form-control.string.required{
  margin-left: 8px;
}

#terminal_min_order_amount.form-control.numeric.float.required{
  margin-left: 8px;
}*/
/*
#terminal_name.form-control.string.required{
  margin-left: -8px;
}*/
/*
#terminal_email.form-control.string.optional{
  margin-left: -8px;
}*/
/*#imaginary_container{
  margin-top: 20px;
}*/

.stylish-input-group .input-group-addon{
    background: white !important; 
}

.stylish-input-group .form-control{
  border-right:0; 
  box-shadow:0 0 0; 
  border-color:#ccc;
}

.stylish-input-group button{
    border:0;
    background:transparent;
}
/*%a.button.btn.btn-info
{
  margin-top: 20px; 
  margin-left: 50px;
}*/
Name.required:after {
  content:" *";
}
Landline.required:after {
  content:" *";
}

.btn btn-info{
	padding-left:20px;
}

.terminals_listing_table
{
  margin: 0 auto;
}

.with-backdrop{
  .terminal-box{
    opacity: 1;
    border-radius: 25px;
    height: 245px;

    .card-content{
      padding: 0px 0px 24px 0px;
    }

    .thumbnail{
      min-height: 85px;
      display: block;
      img{
        height: 85px;
      }
    }

    .progress{
      height: 29px;
      margin-bottom: 0px;
      border-radius: 25px 25px 0px 0px;
      background: linear-gradient(-90deg, red, lightpink);

      .determinate{
        background: linear-gradient(to right, #00ff00 0%, #009933 29%);
      }

      .material-icons{
        position: absolute;
        margin-left: 0px;
      }

      .amount{
        padding-right: 15px;
      }
    }
  }

  .terminal-info-box{
    p{
      margin: 0px 0px;
    }
    color: white;

    .row{
      margin-bottom: 0px;
    }

    .material-icons{
      font-size: 64px;
    }

    a{
      color: white !important;
    }
  }
}

.tabs.menu-tabs{
  background-color: transparent;
  display: inline;

  li{
    a{
      color: white;
    }

    a.active{
      color: black;
    }
  }
}