// Place all the styles related to the Terminals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
th, td {
  padding: 10px;
}
.w3-container
{
  margin-left: 60px;
  margin-right: 40px;
}
.w3-responsive
{
  margin: 20px; 
}