// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.table
{
  width: -moz-available;
  background-color: white;
  border: solid 1px;
}

h1, h2, h3
{
  color: black;
}

#resetButton
{
  border: solid;
  padding: 1px;
}
#employeesTable
{
  width:60%;
  background-color:white;
}


