// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.table
{
  width: -moz-available;
  background-color: white;
  border: solid 1px;
}

#resetButton
{
  border: solid;
  padding: 1px;
}
#employeesTable
{
  width:60%;
  background-color:white;
}

.employee_import_file
{
  color: green;
  font-style: italic;
}
#add_employee_records
{
  border: 2px solid;
  padding: 4px;
}

#employees_table
{
  border:1px solid black;
  /*align-items: center;*/
  margin: 0 auto;
  /*float: auto;*/
}