<p>Hello <%= @email %>!</p>

<p>Welcome to The Hunger Terminal!!!</p>
<p>We hope you will enjoy our app.</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
