.modal-dialog{role: 'document'}
  .modal-content
    .modal-header
      %button.close{'aria-label': 'Close', 'data-dismiss': 'modal', type: 'button'}
        %span{'aria-hidden': 'true'}X
      %h2.modal-title Comments
      .modal-body
        %h5 #{@name} :
        %ol
          - @comments.each do |comment|
            %li.comment #{comment}
