$('#enter_review').modal('close');
$('#history_feedback').modal('close');
toastr.success("Thanks for your valuable feedback")
$('#orderhistory').html("#{j(render 'orders/history_table', orders: @orders)}");
