$('#enter_review').html('#{escape_javascript(render 'enter_review')}')
$('#enter_review').modal('open')
$('#history_feedback').html('#{escape_javascript(render 'enter_review')}')
$('#history_feedback').modal().modal('open')
